<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Calendar</title>
    <link rel="stylesheet" href="/static/css/calendar.css" />
  </head>
  <body bgcolor=" #27276b">
    

      <div class="event-container">
        <h3 class="year">LIST OF TOP COLLEGES</h3>
  
        <div class="event">
          <div class="event-left">
            <div class="event-date">
                <img src="/static/logos/COEP.jpg" alt="" height="125" width="125" > 

             </div>
          </div>
          
          <div class="event-right">
            <h3 class="event-title">College of engineering pune </h3>
            
            <div class="event-description">
                Wellesley Rd, Shivajinagar, Pune.
            </div>
            
            <div class="event-timing">
              <a type="submit" class="btn" href="https://www.coep.org.in/">Learn More</a>
            </div>
          </div>
        </div>
        
        <div class="event">
          <div class="event-left">
            <div class="event-date">
                <img src="/static/logos/VJTI.jpg" alt="" height="125" width="125" > 
            </div>
          </div>
          
          <div class="event-right">
            <h3 class="event-title">Veermata Jijabai Technological Institute</h3>
            
            <div class="event-description">
                 H R Mahajani Rd, Matunga East, Mumbai.
            </div>
            
            <div class="event-timing">
              <a type="submit" class="btn" href="https://vjti.ac.in/">Learn More</a>
            </div>
          </div>
        </div>
        
        
        
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <img src="/static/logos/DBIT.jpg" alt="" height="125" width="125" >
            </div>
          </div>
          
          <div class="event-right">
            <h3 class="event-title">Don Bosco Institute of Technology</h3>
            
            <div class="event-description">
              Premier Automobiles Road Opp. HDIL Premier Exotica, Kurla, Mumbai.
            </div>
            
            <div class="event-timing">
              <a type="submit" class="btn" href="https://www.dbit.in/">Learn More</a>
            </div>
          </div>
        </div>
        
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <img src="/static/logos/ICT.jpg" alt="" height="125" width="125" >
            </div>
          </div>
          
          <div class="event-right">
            <h3 class="event-title">Institute of Chemical Technology (ICT)</h3>
            
            <div class="event-description">
              Nathalal Parekh Marg, near Khalsa College, Matunga East, Mumbai.
          </div>
          
          <div class="event-timing">
            <a type="submit" class="btn" href="https://www.ictmumbai.edu.in/">Learn More</a>
          </div>
        </div>
      </div>
      
      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <img src="/static/logos/SPIT.jpg" alt="" height="125" width="125" >
          </div>
        </div>
        
        <div class="event-right">
          <h3 class="event-title">Sardar Patel Institute of Technology</h3>
          
          <div class="event-description">
            Bhavans Campus, Old D N Nagar, Munshi Nagar, Andheri West, Mumbai.
          </div>
          
          <div class="event-timing">
            <a type="submit" class="btn" href="https://www.spit.ac.in/">Learn More</a>
          </div>
        </div>
      </div>
      
      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <img src="/static/logos/VIT.png" alt="" height="115" width="168" >
          </div>
        </div>
        
        <div class="event-right">
          <h3 class="event-title">Vidyalankara Institute of Technology</h3>
          
          <div class="event-description">
            No. U, 15, Bhaktivedanta Swami Rd, opp. Cooper Hospital, Navpada, JVPD Scheme, Vile Parle, Mumbai.
          </div>
          
          <div class="event-timing">
            <a type="submit" class="btn" href="https://vit.edu.in/">Learn More</a>
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <img src="/static/logos/TSEC.png" alt="" height="125" width="125" >
          </div>
        </div>
        
        <div class="event-right">
          <h3 class="event-title">Thadomal Shahani Engineering College</h3>
          
          <div class="event-description">
            W, P. G. Kher Marg, 32nd Road, Marg, Off Linking Rd, TPS III, Bandra West, Mumbai.
          </div>
          
          <div class="event-timing">
            <a type="submit" class="btn" href="https://tsec.edu/">Learn More</a>
          </div>
        </div>
      </div><div class="event">
        <div class="event-left">
          <div class="event-date">
            <img src="/static/logos/PILLAI.png" alt="" height="125" width="125" >
          </div>
        </div>
        
        <div class="event-right">
          <h3 class="event-title">Pillai College of Engineering</h3>
          
          <div class="event-description">
            Dr. K. M. Vasudevan Pillai Campus, Plot No. 10, Sector 16, New Panvel East, Navi Mumbai.
          </div>
          
          <div class="event-timing">
            <a type="submit" class="btn" href="https://www.pce.ac.in/">Learn More</a>
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <img src="/static/logos/AGNEL.jpg" alt="" height="125" width="125" >
          </div>
        </div>
        
        <div class="event-right">
          <h3 class="event-title">Fr. Conceicao Rodrigues College of Engineering</h3>
          
          <div class="event-description">
            Fr. Agnel Ashram, Bandstand Promenade, Mount Mary, Bandra West, Mumbai.
          </div>
          
          <div class="event-timing">
            <a type="submit" class="btn" href="http://www.frcrce.ac.in/">Learn More</a>
          </div>
        </div>
      </div>

      
      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <img src="/static/logos/DJSCE.jpg" alt="" height="125" width="125" >
          </div>
        </div>
        
        <div class="event-right">
          <h3 class="event-title">Dwarkadas J. Sanghvi College of EngineeringDwarkadas J. Sanghvi College of Engineering</h3>
          
          <div class="event-description">
            No. U, 15, Bhaktivedanta Swami Rd, opp. Cooper Hospital, Navpada, JVPD Scheme, Vile Parle, Mumbai.
          </div>
          
          <div class="event-timing">
            <a type="submit" class="btn" href="https://www.djsce.ac.in/">Learn More</a>
          </div>
        </div>
      </div>


      
        </div>
      </div>
    </div>
  </body>
</html>